.checkout
{
    display: flex;
    padding:1rem ;
    margin-top: 6rem;
}
.checkout_img
{
    width:1000px;
    height:120px;
    object-fit: fill;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}
.checkout_left
{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    
}
.checkout_title
{
    margin-left: 3rem;
    margin-top: 5px;
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: 600;
    color: rgb(14, 22, 26);
    border-bottom: 2px solid rgb(235, 229, 229);

}
.checkout_subtitle
{
    margin-left: 3rem;
}