.home{
 display: flex;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
 height: auto;
 max-width: 1550px;
 background-color: #e9e6e680;
}
.home_row
{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}
.homeimg_container
{
    
    max-height: 400px;
    z-index: -1;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.home_img
{
    margin-top: 5rem;
    width:100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0) );
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  
}
.home_collections
    {
        display: flex;
       max-width: 1500px;
       justify-content: space-evenly;
       margin-top: 1rem;
                 }
    .home_collections card
    {
        width: 400px;
        max-height: 600px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-radius:1000px;
        background-color:white;
        margin-bottom: 1rem;
        z-index: 1;

    }
    .home_collections card .homecard_img
    {
      width: 160px;
      object-fit: contain;
      height: 150px;
      margin-bottom: 0.5rem;
    }


