.Newproduct
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin:18px;
    margin-bottom: 2.5rem;
    background-color: white;
    padding: 20px;
    width: 100%;
    min-width: 100px;
    max-height: 400px;
    z-index: 1;
    
}
.Newproduct_info p
{
 font-size: 20px;
 font-weight: 600;
 margin-bottom: 0.5rem;

}
.star
{
    color: orange;
}

.Newproduct_price 
{
    font-size: 25px;
    color:teal;
    margin-top: 5px;
    display: flex;
    align-items: center;
    }
.Newproduct_img
{
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.newbtn
{
    margin-top: 1rem;
    background-color: rgb(218, 160, 52);
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: rgb(218, 160, 52);
    margin-bottom: 0.5rem;
}
.newbtn:hover{
    opacity: 0.8;
}

